<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>limitter_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493C132D1DB17B4000A9D711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493C13411DB17B4000A9D711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493C134C1DB17B4000A9D711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
